In [2]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [3]:
# connect to Postgres
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [27]:
# load sample of data 
df = pd.read_csv('taxi_data.csv', nrows = 10, parse_dates=['tpep_pickup_datetime', 'tpep_dropoff_datetime'])

In [28]:
df.dtypes

VendorID                          int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                   int64
trip_distance                   float64
RatecodeID                        int64
store_and_fwd_flag               object
PULocationID                      int64
DOLocationID                      int64
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                      int64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
dtype: object

In [30]:
# create an empty table in postgres database
df.head(n=0).to_sql(name = "yellow_taxi_trips", con = engine, if_exists= 'replace')

0

In [31]:
# create a chunked version of the dataframe
df_iterator = pd.read_csv('taxi_data.csv', chunksize = 100000, parse_dates=['tpep_pickup_datetime', 'tpep_dropoff_datetime'])

In [5]:
df

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [ ]:
# loop over the chunks and ingest them into Postgres db

for i, chunk in enumerate(df_iterator):
    t_start = time()
    chunk.to_sql(name = "yellow_taxi_data", con = engine, if_exists= 'append')
    t_end = time()
    print(f"Processed chunk {i+1}, took {t_end - t_start:.2f} seconds ")

Manual ingest

In [37]:
counter = 0

In [36]:
counter += 1

print(counter)

2

In [52]:

a = next(df_iterator)
a.to_sql(name = "yellow_taxi_trips", con = engine, if_exists= 'append')

counter += 1

print(counter)

StopIteration:

Zones data lookup

In [4]:
lu = pd.read_csv('taxi_zone_lookup.csv')

In [5]:
lu.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [6]:
lu.dtypes

LocationID       int64
Borough         object
Zone            object
service_zone    object
dtype: object

In [9]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [10]:
lu.to_sql(name = "zones", con = engine, if_exists= 'append')

265

In [18]:
df_iterator

TypeError: 'TextFileReader' object is not subscriptable

In [19]:
12 * 100000

1200000

In [64]:
qa = pd.read_csv('taxi_data.csv', 
                 parse_dates=['tpep_pickup_datetime', 'tpep_dropoff_datetime'],
                 dtype = {"store_and_fwd_flag":'string'})

In [54]:
qa2=qa.iloc[1300000:,:]

In [59]:
qa2.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
1300000,NaN,2021-01-05 10:38:40,2021-01-05 10:46:20,NaN,1.30,NaN,NaN,170,161,NaN,7.00,0.0,0.5,1.03,0.00,0.3,11.33,2.5
1300001,NaN,2021-01-05 10:17:14,2021-01-05 10:41:21,NaN,7.90,NaN,NaN,216,198,NaN,31.49,0.0,0.5,2.75,0.00,0.3,35.04,0.0
1300002,NaN,2021-01-05 10:39:00,2021-01-05 10:46:00,NaN,0.98,NaN,NaN,62,62,NaN,16.23,0.0,0.5,2.75,0.00,0.3,19.78,0.0
1300003,NaN,2021-01-05 10:05:00,2021-01-05 10:19:00,NaN,1.59,NaN,NaN,85,71,NaN,13.45,0.0,0.5,2.75,0.00,0.3,17.00,0.0
1300004,NaN,2021-01-05 10:18:08,2021-01-05 10:41:40,NaN,9.87,NaN,NaN,236,208,NaN,30.23,0.0,0.5,2.75,6.12,0.3,39.90,0.0

In [62]:
type(qa2.iloc[1,7])

numpy.int64

In [26]:
qa.store_and_fwd_flag.value_counts()

store_and_fwd_flag
N    1252433
Y      18980
Name: count, dtype: int64